$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: 'fonts' !default;

$icon-grid4: '\e900';
$icon-download: '\e901';
$icon-favorite: '\e902';
$icon-favoriteRoun: '\e903';
$icon-history: '\e904';
$icon-maximize: '\e905';
$icon-grid2: '\e906';
$icon-search: '\e907';
$icon-unsplash: '\e908';
